/.idea/
/.idea/
/.idea/
/results/tosim/concepts.json
/jsons/concepts2ga.json
/jsons/other/concepts.json
/.idea/
/.idea/inspectionProfiles/
/.idea/
/.idea/inspectionProfiles/
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/
/.idea/
